.mist-background {
  z-index: -100;
  position: absolute;
  width: 90vw;
  height: 100vh;
  overflow: hidden;
  border-radius: 50%;
  filter: blur(100px);
}

.mist-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30%;
  width: 50%;
  height: 80%;
  background: linear-gradient(rgb(32, 84, 255), rgb(255, 0, 51));
  filter: blur(200px);
}
